- content_for :page_header do
  %h1
    Kulunki » Please sign in to continue

- if alert.present?
  .alert= alert

= form_tag signin_path, id: :new_session do
  = text_field_tag :username, nil, placeholder: 'Username or Email'
  = password_field_tag :password, nil, placeholder: 'Password'
  = submit_tag 'Sign In'
