- content_for :content_title do
  Please sign in to continue

= render_flash_messages

= form_tag signin_path, id: :new_session, class: :dark do
  = text_field_tag :username, nil, placeholder: 'Username or Email', autofocus: true
  = password_field_tag :password, nil, placeholder: 'Password'
  .row
    = check_box_tag :remember_me
    = label_tag :remember_me, 'Remember Me'
    = button_tag 'Sign In'
  .row
    = link_to 'Forgotten your password?', reset_password_path, class: :forgot_password
    = link_to "Don't have an account? Sign Up", signup_path, class: :sign_up
