- content_for :content_title do
  Kulunki » Please sign in to continue

- if notice.present?
  .notice= notice
- if alert.present?
  .alert= alert

= form_tag signin_path, id: :new_session do
  = text_field_tag :username, nil, placeholder: 'Username or Email'
  = password_field_tag :password, nil, placeholder: 'Password'
  = check_box_tag :remember_me
  = label_tag :remember_me, 'Remember Me'
  = link_to 'Forgot password?', reset_password_path
  = link_to 'Sign Up', signup_path
  = submit_tag 'Sign In'
