- content_for :content_title do
  Please enter a new password

- if alert.present?
  .alert= alert

- if @user.errors.any?
  .errors
    %h3= "#{pluralize(@user.errors.count, 'error')} prohibited your password from being changed:"
    %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg

= form_tag change_password_path, id: :change_password, method: :put do
  = password_field_tag :password, nil, placeholder: 'New Password', autofocus: true
  = password_field_tag :password_confirmation, nil, placeholder: 'Confirm New Password'
  .row
    = button_tag 'Change Password'
