- content_for :content_title do
  Please enter a new password

= render_flash_messages

- if @user.errors.any?
  = render_model_errors(@user)

= form_tag change_password_path, id: :change_password, class: :dark, method: :put do
  = password_field_tag :password, nil, placeholder: 'New Password', autofocus: true
  = password_field_tag :password_confirmation, nil, placeholder: 'Confirm New Password'
  .row
    = button_tag 'Change Password'
