- content_for :page_header do
  %h1
    Kulunki » Please enter email to reset your password

- if notice.present?
  .notice= notice
- if alert.present?
  .alert= alert

= form_tag password_reset_path, id: :password_reset do
  = email_field_tag :email, nil, placeholder: 'Email'
  = submit_tag 'Reset Password'
