- content_for :content_title do
  Please fill out the form

- if @user.errors.any?
  = render_model_errors(@user)

= form_for @user, html: {class: :dark} do |f|
  = f.text_field :username, placeholder: 'Username', autofocus: true
  = f.email_field :email, placeholder: 'Email'
  = f.password_field :password, placeholder: 'Password'
  = f.password_field :password_confirmation, placeholder: 'Confirm Password'
  .row
    = f.button 'Sign Up'
