- content_for :page_header do
  %h1
    Kulunki » Please sign up to continue

-if @user.errors.present?
  .errors
    %h2
      The following errors prevent your user of being saved:
    %ul
      - @user.errors.full_messages.each do |message|
        %li= message

= form_for @user do |f|
  = f.text_field :username, placeholder: 'Username'
  = f.email_field :email, placeholder: 'Email'
  = f.password_field :password, placeholder: 'Password'
  = f.password_field :password_confirmation, placeholder: 'Confirm Password'
  = f.button 'Sign Up'
