%ul.breadcrumb_nav
  %li
    Kulunki
  %li
    Household Name
  %li
    Current Period

%nav.profile
  %ul
    %li
      = link_to profile_path do
        %span.username
        = current_user.username
      %ul
        %li
          = link_to root_path, class: :nav_item do
            %span.notifications
            Notifications
          = link_to root_path, class: :nav_item do
            %span.admin_panel
            Admin Panel
          = link_to signout_path, class: :signout do
            %span.signout
            Sign Out
