- content_for :content_title do
  %header.content
    %h1 Edit Your Profile

- if alert.present?
  .alert= alert

= form_for current_user, url: edit_profile_path, method: :put,
  html: {id: :edit_profile, class: :edit_profile} do |f|
  = f.label :username
  = f.text_field :username
  = f.label :full_name, 'Name'
  = f.text_field :full_name
  = f.submit 'Save'

= form_tag profile_change_password_path, method: :put,
  id: :change_password, class: :change_password do |f|
  = label_tag :current_password, 'Current Password'
  = password_field_tag :current_password
  = label_tag :password, 'New Password'
  = password_field_tag :password
  = label_tag :password_confirmation, 'Confirm New Password'
  = password_field_tag :password_confirmation
  = submit_tag 'Change Password'

= form_tag profile_change_email_path, method: :put,
  id: :change_email, class: :change_email do |f|
  %p= "Current Email: #{current_user.email}"
  = label_tag :email, 'New Email'
  = text_field_tag :email
  = label_tag :password, 'Password'
  = password_field_tag :password
  = submit_tag 'Change Email'

= link_to 'Back to Profile', profile_path
