- content_for :content_title do
  %header.content
    %h1 Your Profile

- if flash.any?
  = render_flash_messages

%p= "Email: #{current_user.email}"
%p= "Username: #{current_user.username}"
%p= "Name: #{current_user.full_name}"
%p
  = "Household: #{household_name}"
  - if current_user.household.blank?
    - if @households.present?
      = form_tag profile_join_household_path, method: :put, id: :join_household do
        = select_tag 'households',
          options_from_collection_for_select(@households, 'id', 'name')
        = button_tag 'Request joining'
    = link_to 'Create New Household', new_household_path
%p= "Co-members: #{co_members_list}"

= link_to 'Edit', edit_profile_path
