- content_for :content_title do
  %header.content
    %h1 Your Profile

- if notice.present?
  .notice= notice

%p= "Email: #{current_user.email}"
%p= "Username: #{current_user.username}"
%p= "Name: #{current_user.full_name}"
%p
  - if @household.present?
    = "Household: #{@household.name}"
  - else
    = 'Household: none'
  = link_to 'Create New Household', new_household_path
%p= 'Co-members: none'

= link_to 'Edit', edit_profile_path
