- content_for :content_title do
  %header.content
    %h1 Create New Household

- if alert.present?
  .alert= alert

= form_for @household do |f|
  = f.label :name
  = f.text_field :name
  = f.button 'Save'
